<div class="sk" aria-hidden="true">
  <div class="sk__head">
    <div class="sk__avatar"></div>
    <div class="sk__lines">
      <div class="sk__line sk__line--w70"></div>
      <div class="sk__line sk__line--w40"></div>
    </div>
    <div class="sk__badge"></div>
  </div>
  <div class="sk__score"></div>
  <div class="sk__reasons">
    <div class="sk__line sk__line--w90"></div>
    <div class="sk__line sk__line--w80"></div>
  </div>
  <div class="sk__actions">
    <div class="sk__btn"></div>
    <div class="sk__btn"></div>
    <div class="sk__btn sk__btn--primary"></div>
  </div>
</div>
