#####################################
# Maven
#####################################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

#####################################
# Logs
#####################################
*.log
logs/

#####################################
# IntelliJ IDEA
#####################################
.idea/
*.iws
*.iml
*.ipr
out/

#####################################
# VS Code
#####################################
.vscode/

#####################################
# OS files
#####################################
.DS_Store
Thumbs.db

#####################################
# Spring Boot
#####################################
application-local.yml
application-local.properties

#####################################
# Actuator / test outputs
#####################################
actuator_output.json

#####################################
# Docker
#####################################
*.tar